.center {
    text-align: center;
}

.margin-auto {
    margin: auto;
}

.full-width {
    width: 100%;
}

.checklist-width {
    width: 75%;
}

.double-height {
    height: 2em;
}

.checklist-content {
    font-size: 1.3em;
}

.item-text, .checklist-text {
    display: none;
    width: 100%;
}

.item-text {
    width: 80%;
}

.add-item-div {
    margin-top: 20px;
    margin-left: -15px;
}

.add-checklist-div {
    margin-top: 20px;
    margin-left: -30px;  
}

.move-left-40 {
    margin-left: -40px;
}

.go-to-checklists {
    font-size: 1.5em;
    margin-left: -15px;
    padding-left: 15px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: -20px;
    margin-bottom: -15px;
    cursor: pointer;
}

.nostyle:link, .nostyle:visited {
    font-size: 1.2em;
    text-decoration: none;
    color: white;
}

.nostyle-color:link, .nostyle-color:visited {
    font-size: 1.2em;
    text-decoration: none;
}

.checklist-name {
    align-self: center;
    width: 100%;
    white-space: normal;
}

.checklistDelete, .checklistEdit, .checklistSave {
    margin-top: -6px;
    margin-right: -11px;
    margin-left: 15px;
    height: 40px;
}

.checklistItemEdit {
    margin-right: 10px;
}

.alertDeletedNotification, .checklistItemSave, .alertEditedNotification, .alertErrorNotification, .checklistSave {
    display: none;
}

.margin-top-10 {
    margin-top: 10px;
}

.checklistBtn {
    margin: 10px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 100px;
}

@media only screen and (max-width: 800px) {
    .checklist-width {
        width: 100%;
    }
}

.checklist-buttons {
    display: flex;
}

.checklistItemButtons {
    flex: 5;
}

.item-label {
    flex: 30;
    margin-left: 5px;
    margin-top: 7px;
}

.add-item-row {
    margin-top: 10px;
    margin-left: 45px;
}

.checklist-row {
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
}

.searchBar {
    margin-bottom: 20px;
}

.checklistItemDone {
    flex: 1;
}
